<% layout('/layouts/boilerplate') %>

<h1 class="p-3">
    <% if(currUser && currUser.username.toLowerCase() === "dean") { %>
        Dean's Dashboard
    <% } else { %>
        Teacher's Dashboard
    <% } %>
</h1>

<div class="row row-cols-md-4 row-cols-sm-1">
    <% for(let lst of allListings) { %>
        <% if(currUser && currUser.username.toLowerCase() === "dean") { %>
            <!-- Show all listings for Dean -->
            <a href="/papers/<%= lst._id %>" class=" mt-2 mb-2 listing-link">
                <div class="card col" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title"><%= lst.Name %></h4>
                        <p class="card-text">
                            <strong>PRN Number:</strong> <%= lst.PRN_Number %> <br>
                            <strong>Class:</strong> <%= lst.Class %> <br>
                            <strong>Roll Number:</strong> <%= lst.Roll_Number %> <br>
                            <strong>Subject:</strong> <%= lst.Subject %> <br>
                        </p>
                    </div>
                </div>
            </a>
        <% } else if(lst.SubjectTeacher && currUser && currUser._id.equals(lst.SubjectTeacher._id)) { %>
            <!-- Show listings only for the assigned Subject Teacher -->
            <a href="/papers/<%= lst._id %>" class="listing-link ">
                <div class="card col mb-5" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title"><%= lst.Name %></h4>
                        <p class="card-text">
                            <strong>PRN Number:</strong> <%= lst.PRN_Number %> <br>
                            <strong>Class:</strong> <%= lst.Class %> <br>
                            <strong>Roll Number:</strong> <%= lst.Roll_Number %> <br>
                            <strong>Subject:</strong> <%= lst.Subject %> <br>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    <% } %>
</div>
