<% layout('/layouts/boilerplate') %>
<h1 class="p-3">All Papers</h1>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let lst of allListings) { %>
        <% if(lst.SubjectTeacher && currUser && currUser._id.equals(lst.SubjectTeacher._id)) { %>

            <a href="/papers/<%= lst._id %>" class="listing-link">
                <div class="card col" style="width: 20rem;">
                    <div class="card-body index-card">
                        <h4 class="card-title"><%= lst.Name %></h4>
                        <p class="card-text">
                            <strong>PRN Number:</strong> <%= lst.PRN_Number %> <br>
                            <strong>Class:</strong> <%= lst.Class %> <br>
                            <strong>Roll Number:</strong> <%= lst.Roll_Number %> <br>
                            <strong>Subject:</strong> <%= lst.Subject %> <br>
                        </p>
                    </div>
                </div>
            </a>

        <% } %>
    <% } %>
</div>



